<?xml version='1.1' encoding='utf-8'?>
<widget id="com.eliezermatchpro.matchpro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EliezerMatchPro</name>
    <description>Connect with Your Perfect Match</description>
    <author email="support@eliezermatchpro.com" href="https://eliezermatchpro.com/">The EliezerMatchPro Team</author>
    <content src="index.html" />
    <access origin="https://api.eliezermatchpro.com" />
    <allow-intent href="https://*/*" />
    <allow-intent href="mailto:*" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splash-matchpro.png" />
        <preference name="AndroidWindowSplashScreenBackgroundColor" value="#FF5733" />
        <preference name="AndroidWindowSplashScreenDuration" value="3000" />
        <preference name="ScrollEnabled" value="false" />
        <preference name="BackupWebStorage" value="local" />
        <preference name="loadUrlTimeoutValue" value="60000" />
        <preference name="Scheme" value="https" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:networkSecurityConfig="@xml/network_security_config" />
        </edit-config>
        <resource-file src="resources/android/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
        <allow-intent href="market:*" />
        <icon density="ldpi" src="resources/android/icon/matchpro-ldpi-icon.png" />
        <!-- Other icons and splash screens -->
    </platform>
    <platform name="ios">
        <icon height="57" src="resources/ios/icon/matchpro-icon.png" width="57" />
        <splash height="480" src="resources/ios/splash/matchpro-Default~iphone.png" width="320" />
        <!-- Other icons and splash screens -->
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="2.4.2" />
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="5.0.2" />
    <plugin name="cordova-plugin-ionic-webview" spec="^5.0.0" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="^2.0.5" />
    <plugin name="cordova-plugin-camera" spec="^6.0.0" />
</widget>
