<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">
    <div class="header-container">
      <div class="logo-container">
        <img src="assets/images/eliezer-logo.png" alt="EliezerMatch Logo" class="logo" />
      </div>
      <ion-menu-button class="hamburger-button"></ion-menu-button>
    </div>
    
    <div class="content-section">
      <p class="description">
        At EliezerMatch, we aim to foster meaningful connections between believers, helping them find life-long partners.
      </p>
    </div>
    
    <div class="image-container">
      <img src="assets/images/couple-illustration.png" alt="Couple Illustration" class="couple-image" />
    </div>
    
    <div class="buttons-container">
      <ion-button expand="block" class="signup-button" (click)="goToSignUp()">SIGN UP</ion-button>
      <ion-button expand="block" class="login-button" (click)="goToLogin()">LOGIN</ion-button>
    </div>
    
    <div class="more-info">
      <ion-button class="learn-more-button" (click)="goToLearnMore()">LEARN MORE</ion-button>
    </div>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="call-button">
      <ion-icon name="call-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>