<ion-header [translucent]="true"></ion-header>
<ion-content [fullscreen]="true">

  <div id="container" *ngIf="!showIframe && !errorMessage">
   <ion-spinner *ngIf="isLoading"></ion-spinner>   
    
    <ion-button >Loading..</ion-button>
    <ion-text *ngIf="errorMessage">{{ errorMessage }}</ion-text>
  </div>
  <div class="iframe-container" >
    <iframe
      title="QuickHelp"
      allow="encrypted-media; allow-same-origin; allow-scripts"
      src="https://quickhelp.com.ng/chat.php"
      style="width: 100%; height: 100%;"
    ></iframe>
    <div class="camo">QuickHelp</div>
  </div>
</ion-content>
